In [1]:
%matplotlib inline
import pandas as pd

In [4]:
df = pd.DataFrame.from_csv('test.csv', index_col=None)
df.head()

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,10/12/2015 12:15,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,7/26/2014 17:59,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,3,Gus,1/13/2016 12:20,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
3,4,Pongo,12/28/2013 18:12,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,5,Skooter,9/24/2015 17:59,Dog,Neutered Male,2 years,Miniature Poodle Mix,White

In [5]:
len(df)

11456

In [6]:
df.sort_values(by='AgeuponOutcome').head(2)

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
5059,5060,NaN,7/4/2015 9:57,Dog,Unknown,0 years,Chihuahua Shorthair Mix,Black
6092,6093,NaN,7/5/2015 14:46,Cat,Unknown,0 years,Domestic Shorthair Mix,Tortie

In [7]:
len(df[df.AnimalType == "Dog"])

6656

In [8]:
len(df[df.AnimalType == "Cat"])

4800

In [16]:
len(df[df.DateTime == '7/4/2015 9:57'])

1

In [18]:
#what impact does breed have
#looking at csv file, if 'Mix' in the desc then assume not purebred. ex.American Pit Bull Terrier Mix
def get_mix(x):
    x = str(x)
    if x.find('Mix')>= 0: return 'mix'
    return 'not'
df['Mix']= df.Breed.apply(get_mix)
#sns.countplot(animals.Mix, palette = 'Set3')

In [30]:
c = df
c = c[c.Mix == 'mix']
#c = c[c.n != 1]
len(c)

9573

In [31]:
c = df
c = c[c.Mix == 'not']
#c = c[c.n != 1]
len(c)

1883

In [32]:
9573 + 1883

11456

In [19]:
mix_count = df['Mix'].sort_values()

In [27]:
mix_count.head()

0       mix
7329    mix
7330    mix
7331    mix
7332    mix
Name: Mix, dtype: object

In [28]:
len(mix_count)

11456

In [23]:
df.Breed.value_counts().head(10)

Domestic Shorthair Mix       3777
Pit Bull Mix                  870
Chihuahua Shorthair Mix       732
Labrador Retriever Mix        586
Domestic Medium Hair Mix      378
German Shepherd Mix           255
Domestic Longhair Mix         233
Siamese Mix                   173
Australian Cattle Dog Mix     146
Dachshund Mix                 119
Name: Breed, dtype: int64

In [24]:
df.Breed.value_counts().head(20)

Domestic Shorthair Mix           3777
Pit Bull Mix                      870
Chihuahua Shorthair Mix           732
Labrador Retriever Mix            586
Domestic Medium Hair Mix          378
German Shepherd Mix               255
Domestic Longhair Mix             233
Siamese Mix                       173
Australian Cattle Dog Mix         146
Dachshund Mix                     119
Miniature Poodle Mix              103
Border Collie Mix                  95
Australian Shepherd Mix            93
Boxer Mix                          85
Yorkshire Terrier Mix              70
Rat Terrier Mix                    69
Miniature Schnauzer Mix            67
Catahoula Mix                      59
Jack Russell Terrier Mix           57
Chihuahua Shorthair/Dachshund      53
Name: Breed, dtype: int64

Domestic Shorthair Mix       3777
Pit Bull Mix                  870
Chihuahua Shorthair Mix       732
Labrador Retriever Mix        586
Domestic Medium Hair Mix      378
German Shepherd Mix           255
Domestic Longhair Mix         233
Siamese Mix                   173
Australian Cattle Dog Mix     146
Dachshund Mix                 119
Name: Breed, dtype: int64

11456